/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
    --header-height: 3rem;
    --font-semi: 600;
    /*===== Colores =====*/
    /* HSL color mode */
    --hue-color: 15;
    --first-color: hsl(var(--hue-color), 90%, 62%);
    --second-color: hsl(var(--hue-color), 60%, 15%);
    /*===== Fonts =====*/
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --smaller-font-size: .75rem;
    /*===== Margines =====*/
    --mb-2: 1rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    /*===== z index =====*/
    --z-back: -10;
    --z-fixed: 100;

}

@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
        --smaller-font-size: .875rem;
    }
}

/*===== BASE =====*/
*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
    background-image: url("back4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

h1,
h2,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;

}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*===== CLASS CSS ===== */
.section-title {
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-4);
    text-align: center;
}

.section-title::after {
    position: absolute;
    content: '';
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}

.section {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

/*===== TOP NAV LAYOUT =====*/
.bd-grid {
    max-width: 1224px;
    display: grid;
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
    background-color: white;
    ;
}

.top-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: white;
    box-shadow: 0 1px 5px rgba(46, 61, 76, 0.5);
    background-image: url("head7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*===== NAV =====*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);

}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--second-color);
        transition: .5s;
    }
}

.nav__item {
    margin-bottom: var(--mb-4);
    color: white;

}

.nav__link {
    position: relative;
    color: #fff;
}

.nav__link:hover {
    position: relative;
}

.nav__link:hover::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

.nav__logo {
    max-width: 5%;
    Max-height: 5%;
    padding-bottom: 60px;
}

.nav__toggle {
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
}

/*Active menu*/
.active::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

/*=== Show menu ===*/
.show {
    right: 0;
}

/*===== HOME =====*/
.home {
    position: relative;
    row-gap: 5rem;
    padding: 4rem 0 5rem;
}

.home__data {
    align-self: center;
}

#carouselExampleControls {
    pointer-events: none;
}

.home__title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-5);
}

.home__title-color {
    color: var(--first-color);
}

.home__social {
    display: flex;
    flex-direction: column;
}

.home__social-icon {
    width: max-content;
    margin-bottom: var(--mb-2);
    font-size: 1.5rem;
    color: var(--second-color);
}

.home__social-icon:hover {
    color: var(--first-color);
}

.home__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 260px;
}

.marquee_home_image {
    /* overflow: hidden; */
    width: 80vw;
    height: 58vh;
}

.marquee_home_image_content {
    display: flex;
    animation: scrolling 20s linear infinite;
}

.marquee_home_image_item {
    flex: 0 0 35vw;
    margin: 0 1vw;
    /*   flex: 0 0 20vw; */
    /*   margin: 0 2vw; */
    width: 20vw;
}

.marquee_home_image_item img {
    display: block;
    width: 100%;
    /*   padding: 0 20px; */
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translatex(-144vw);
    }
}

/*BUTTONS*/
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;
    transition: .3s;
}

.button:hover {
    box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
}

/* ===== ABOUT =====*/
.vision__info-title {
    color: blue;
    font-weight: bold;
}

.vision__container {
    row-gap: 2rem;
    text-align: center;

}

.vision__subtitle {
    margin-bottom: var(--mb-2);
}

.vision__img {
    justify-self: center;
}

.vision__img img {
    width: 220px;
    border-radius: .8rem;
}

/* ===== SKILLS =====*/


.skills__subtitle {
    margin-bottom: var(--mb-2);
}

.skills__text {
    margin-bottom: var(--mb-4);
}

.skills__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: .5rem 1rem;
    margin-bottom: var(--mb-4);
    border-radius: .5rem;
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}

.skills__icon {
    font-size: 2rem;
    margin-right: var(--mb-2);
    color: green;
}

.skills__names {
    display: flex;
    align-items: center;
}

.skills__bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--first-color);
    height: .25rem;
    border-radius: .5rem;
    z-index: var(--z-back);
}

.skills__html {
    width: 95%;
}

.skills__cplusplus {
    width: 60%;
}

.skills__java {
    width: 70%;
}

.skills__css {
    width: 85%;
}

.skills__js {
    width: 75%;
}

.skills__python {
    width: 90%;
}



.skills__img {
    border-radius: .9rem;
    height: 30rem;
    width: 50rem;
}

/* ===== gallery =====*/
.gallery__container {
    row-gap: 2rem;
}

.gallery__img {
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: .5rem;
    overflow: hidden;
}

.gallery__img img {
    transition: 1s;
}

.gallery__img img:hover {
    transform: scale(1.1);
}

/* ===== CONTACT =====*/
.contact__input {
    width: 100%;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi);
    padding: 1rem;
    border-radius: .5rem;
    border: 1.5px solid var(--second-color);
    outline: none;
    margin-bottom: var(--mb-4);
}

.contact__button {
    display: block;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
    margin-left: auto;
}

/* ===== FOOTER =====*/
.footer {
    background-color: var(--second-color);
    color: #fff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 1rem 0;
}

.footer__title {
    font-size: 2rem;
    margin-bottom: var(--mb-1);
}

.footer__social {
    margin-bottom: var(--mb-4);
}

.footer__icon {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 var(--mb-2);
}

.footer__copy {
    font-size: var(--smaller-font-size);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 320px) {
    .home {
        row-gap: 2rem;
    }

    .home__img {
        width: 200px;
    }
}

@media screen and (min-width: 566px) {
    .home {
        padding: 4rem 0 2rem;
    }

    .home__social {
        padding-top: 0;
        padding-bottom: 2.5rem;
        flex-direction: row;
        align-self: flex-end;
    }

    .home__social-icon {
        margin-bottom: 0;
        margin-right: var(--mb-4);
    }

    .home__img {
        width: 300px;
        bottom: 25%;
    }

    .vision__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: initial;
    }

    .gallery__container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        padding-top: 2rem;
    }

    .contact__form {
        width: 360px;
        padding-top: 2rem;
    }

    .contact__container {
        justify-items: center;
    }
}

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    .section {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }

    .section-title {
        margin-bottom: var(--mb-6);
    }

    .section-title::after {
        width: 100px;
        top: 3rem;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__list {
        display: flex;
        padding-top: 0;
    }

    .nav__item {
        margin-left: var(--mb-6);
        margin-bottom: 0;
    }

    .nav__toggle {
        display: none;
    }

    .nav__link {
        color: var(--second-color);
    }

    .home {
        padding: 8rem 0 2rem;
    }

    .home__img {
        width: 400px;
        bottom: 10%;
    }

    .vision__container {
        padding-top: 2rem;
    }

    .vision__img img {
        width: 300px;
    }

    .skills__container {
        align-items: center;
        text-align: initial;
        row-gap: 2rem;
        text-align: center;
        grid-template-columns: .7fr;
        justify-content: center;
        column-gap: 1rem;
    }

    .gallery__container {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }
}

@media screen and (min-width: 992px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
        background-color: white;

    }

    .home {
        padding: 10rem 0 2rem;
    }

    .home__img {
        width: 450px;
    }

    /* ===== for gallery=====*/
    .gallery__container {
        overflow: initial;
    }

    .gallery__content {
        padding-left: 35rem;



    }

    .gallery__img {
        width: 800px;
        border-radius: .9rem;
        justify-self: center;
    }

    .gallery__title {
        font-size: var(--h3-font-size);
        margin-bottom: var(--mb-0-5);
    }

    .gallery__description {
        margin-bottom: var(--mb-075);


    }

    .gallery__button:hover.button__icon {
        transform: translate(.27rem);


    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        content: '';
    }

    .swiper-gallery-icon {
        font-size: 2rem;
        color: var(--first-color);
    }

    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: -2.5rem;
    }

    .swiper-pagination-bullets-active {
        background-color: var(--first-color);
    }

    .swiper-button-prev,
    .swiper-button-next,
    .swiper-pagination-bullets {
        outline: none;
    }

    .popup .overlay {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        z-index: 1;
        display: none;
    }

    .popup .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        background: #ffff;
        width: 450px;
        height: 220px;
        z-index: 2;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;

    }

    .popup .close-btn {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 30px;
        height: 30px;
        background: #222;
        color: #fff;
        font-size: 25px;
        font-weight: 600;
        line-height: 30px;
        text-align: center;
        border-radius: 50%;

    }

    .popup.active .overlay {
        display: block;

    }

    .popup.active .content {
        transition: all 300ms ease-in-out;
        transform: translate(-50%, -50%) scale(1);
    }

    .header-background {
        width: 100%;
        height: 100px;
        background: u;
    }

    .ex {
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;

    }



}